h5 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

button {
  font-family: "Manrope", sans-serif;
}

.btn-outline {
  background-color: #fcfcfc;
  border: 1px solid #bebec2;
}

.btn-continue {
  color: #fff;
  background-color: #885fff;
  border-color: #885fff;
}

.btn-continue-disabled {
  color: #fff;
  background-color: #bebec2;
  border-color: #bebec2;
}

.btn-dark {
  color: #fff;
  background-color: #414047;
  border-color: #414047;
}

.continue-button {
  margin-bottom: 24px;
}

.continue-button .btn-continue {
  width: 136px;
}

.continue-button .btn-continue-disabled {
  width: 124px;
}

.continue-button .btn {
  height: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.41px;
  padding: 8px 36px 8px 10px;
  position: relative;
  border-radius: 10px;
}

.continue-button .btn:after {
  content: "";
  width: 9px;
  height: 13px;
  background: url("/images/icon-right.png") no-repeat 0 0;
  position: absolute;
  top: 14px;
  right: 10px;
}

.login-button .btn {
  min-width: 186px;
  height: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.41px;
  padding: 8px 36px 8px 10px;
  position: relative;
  border-radius: 10px;
}

.login-button .btn:after {
  content: "";
  width: 9px;
  height: 13px;
  background: url("/images/icon-right.png") no-repeat 0 0;
  position: absolute;
  top: 14px;
  right: 10px;
}

.form-control {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  height: 45px;
  padding: 11px 20px;
  background-color: #fcfcfc;
  border-color: #bebec2;
  border-radius: 8px;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #885fff;
}

.form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6f6e73;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.email {
  padding: 0 7px 0 5px;
  margin-bottom: 20px;
}

.email .form-control:focus,
.email .form-control.active-input {
  border-width: 2px;
  border-color: #885fff;
}

.header {
  height: 52px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dfdfe0;
}

.header img {
  display: block;
}

.logo {
  height: 100%;
}

.home-img {
  margin-top: 6px;
  margin-left: 3px;
}

.header-inner {
  height: 100%;
  position: relative;
}

.header-inner h5 {
  font-weight: 600;
  color: #000;
  letter-spacing: -0.41px;
  margin-bottom: 0;
}

.header-inner .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.close-btn {
  width: 24px;
  height: 24px;
  background-color: rgba(111, 110, 115, 0.12);
  border: none;
  position: relative;
  border-radius: 50%;
}

.close-btn:after {
  content: "";
  width: 11px;
  height: 10px;
  background: url("/images/icon-close.png") no-repeat 0 0;
  position: absolute;
  top: 7px;
  left: 6px;
}

.create-account {
  margin-bottom: 28px;
}

.create-account.create-account-error {
  margin-bottom: 16px;
}

.create-account .form-label img {
  margin-left: 7px;
}

.create-account .form-control {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.create-account .group {
  margin-bottom: 15px;
  position: relative;
}

.create-account .group:last-child {
  margin-bottom: 0;
}

.create-account .group.error-group .form-label {
  color: #e08080;
}

.create-account .group.error-group .form-control {
  border-width: 2px;
  border-right-width: 1px;
  border-color: #e08080;
  border-right-color: #bebec2;
}

.create-account .group.error-group .btn-id {
  border-width: 2px;
  border-left-width: 0;
  border-color: #e08080;
}

.create-account .error {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #e08080;
  margin-top: 10px;
}

.account-form .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.account-form .btn-id {
  background: #fcfcfc;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #bebec2;
  border-left-width: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.complete-bar {
  height: 3px;
  background-color: #885fff;
  position: absolute;
  left: 0;
  top: 0;
}

.complete-bar.one {
  width: 135px;
}

.complete-bar.two {
  width: 265px;
}

.email-id {
  margin-bottom: 4px;
}

.email-id a {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fff;
}

.container-inner {
  padding: 21px 21px 0 23px;
}

.email-phone {
  margin: 0 auto 26px;
}

.email-phone .btn {
  padding: 6px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.15px;
  border-radius: 10px;
}

.email-phone .btn:first-child {
  margin-right: 10px;
}

.intro-text {
  font-size: 12px;
  line-height: 16.34px;
  color: #6f6e73;
  padding-right: 21px;
  padding-left: 16px;
}

.paragraph-text {
  font-size: 14px;
  line-height: 19px;
  color: #808080;
  padding-right: 4px;
  padding-left: 4px;
  margin-bottom: 24px;
}

.link {
  color: #587be0;
  text-decoration: none;
}

.link.primary-link {
  color: #885fff;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dfdfe0;
  margin: 32px auto 24px;
}

.wrapper {
  width: 100%;
  max-width: 362px;
  padding-bottom: 29px;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .wrapper {
    max-width: 100% !important;
  }
}

.verification-code-text {
  font-weight: 500;
  line-height: 28px;
  color: #414047;
  padding-left: 10px;
  margin-bottom: 21px;
}

.verification-wrap {
  margin-bottom: 32px;
}

.verification-row .form-control {
  width: 40px;
  height: 40px;
  border-color: #cfcfcf;
  margin: 0 5px;
  font-weight: 500;
  color: #000;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
}

.verification-row .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.verification-row .form-control:focus,
.verification-row .form-control.active-input {
  border-width: 2px;
  border-color: #885fff;
}
/*# sourceMappingURL=style.css.map */
